@keyframes bgMove {
    0%   { background-position: 0 0 }
    100% { background-position: 0 -479px }
}

@keyframes bgSectionMove {
    0%   { background-position: 0 0 }
    100% { background-position: -200px -162px }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes arrow {
  0%,100% {
    transform : translateY(0);
  }
  50% {
    transform : translateY(-5px);
  } 
}

.fadeInLeft {
	animation-name : fadeInUp;
	animation-duration: 1s;
  	animation-fill-mode: both;
}

.fadeInUp {
	animation : fadeInUp 1s ease;
  	animation-fill-mode: both;
}
