@media screen and (max-width: 1080px) {
    #apiStats {
        .right {
            #stats {
                li {
                    padding: 0 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 940px) {
    h1 {
        font-size : 2em;
    }
    header {
        &::before, &::after {
            width: 3%;
        }
        .container {
            .description {
                top: 25%;
                width: 50%;
                strong {
                    width: 55px;
                    display: block;
                    margin: auto;
                }
            }
            .getMacApp {
                margin-right: auto;
                margin-bottom: 30px;
                width : 192px;
            }
        }
    }
    .download-btn {
        display: block;
        width: 200px;
        margin: 0 auto 30px auto;
    }
    .getMacApp {
        margin-right: auto;
    }
    #apiStats {
        .left {
            float : none;
            display: block;
            width: 40%;
            margin: 0 auto 20px auto;
        }
        .right {
            width: 100%;
            padding: 0;
            #stats {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 100vh;
        .container {
            .description {
                top: 25%;
                width: 55%;
            }
            #appScreen {
                position: absolute;
                width: 45%;
                bottom: 20%;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 705px) {
    #features {
        .feature {
            width: 80%;
            margin: auto;
            float: none;
            margin-bottom: 60px;
        }
        h2,
        p {
            display: inline-block;
            width: 80%;
            max-width: 400px;
        }
    }
    footer {
        .social {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 630px) {
    #apiStats {
        .left {
            width: 80%;
        }
    }
    #logo {
        top : 15px;
    }
    header {
        .container {
            .social {
                margin-top: 20px;
            }
            .description {
                top: 55px;
                width: 100%;
                h1 {
                      font-size: 1.7rem;
                }
                p {
                    margin: 30px auto;
                }
            }
            #appScreen {
                display: none;
            }
            #scrollIcon {
                bottom : 3%;
            }
        }
    }
    .downloadBtn {
        width : 200px;
        margin : 0 auto 15px auto;
        display : block;
    }
    #apiStats {
        .right {
            #stats {
                li {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 35px;
                    padding: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::after {
                        content: '';
                        display: none;
                    }
                }
            }
        }
    }
    #joinTheLeague {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
            margin-top: 40px;
            svg {
                width : 80%;
                margin:auto;
                display : block;
            }
        }
    }
}
