@media screen and (max-width: 940px) {
    header {
        &::before, &::after {
            width: 3%;
        }
        .container {
            .description {
                top: 25%;
                width: 50%;
                strong {
                    width: 55px;
                    display: block;
                    margin: auto;
                }
            }
            .getMacApp {
                margin-right: auto;
            }
        }
    }
    .download-btn {
        display: block;
        width: 200px;
        margin: 0 auto 30px auto;
    }
    .getMacApp {
        margin-right: auto;
    }
    #apiStats {
        .left {
            display: none;
        }
        .right {
            width: 100%;
            padding: 0;
            #stats {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 100vh;
        .container {
            .description {
                top: 25%;
                width: 55%;
            }
            #homeScreen {
                position: absolute;
                width: 45%;
                bottom: 20%;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 705px) {
    #features {
        .feature {
            width: 80%;
            margin: auto;
            float: none;
            margin-bottom: 60px;
        }
        h2,
        p {
            display: inline-block;
            width: 80%;
            max-width: 400px;
        }
    }
    footer {
        .social {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 630px) {
    header {
        .container {
            .social {
                margin-top: 50px;
            }
            .description {
                top: 100px;
                width: 100%;
                p {
                    margin: 40px auto;
                }
            }
            #homeScreen {
                display: none;
            }
        }
    }
    #apiStats {
        .right {
            #stats {
                li {
                    display : block;
                    width : 100%;
                    text-align: center;
                    margin-bottom : 35px;
                    &:last-child {
                        margin-bottom : 0;
                    }
                }
            }
        }
    }
}
