body,
html {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $font;
    font-weight: 200;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    outline: none;
}
h1 {
    font-size : 2.4em;
}
h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
}

a.link {
    color: $orange;
    text-decoration: none;
    border-bottom: 1px solid $orange;
    transition: all 0.2s ease;
    &:hover {
        color: #b84742;
    }
}

#logo {
    position: relative;
    text-decoration: none;
    top: 35px;
    left: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    i {
        display: inline-block;
        width: 27px;
        height: 42px;
        background: url('../images/logo.png') left no-repeat;
        background-size: cover;
        margin-right: 15px;
    }
    h1 {
        display: inline-block;
        vertical-align: top;
        padding: 10px 0;
        color: white;
        font-weight: 200;
        font-family: $font;
        margin: 0;
        font-size: 1.4rem;
    }
    &:hover {
        h1 {
            color: #eaeaea;
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}

.container {
    position: relative;
    height: 100%;
    width: 90%;
    max-width: 960px;
    margin: auto;
}

.downloadBtn {
    text-decoration: none;
    display: inline-block;
    font-size: 0.83rem;
    font-weight: 200;
    color: white;
    padding: 9px 20px 11px 20px;
    border-radius: 2px;
    transition: all 0.4s ease;
    i {
        font-size: 2rem;
        margin-right: 12px;
        vertical-align: top;
    }
    .downloadBtnContent {
        display: inline-block;
        line-height: 0.94rem;
        span {
            display: block;
            vertical-align: top;
            &.version {
                font-size: 0.7rem;
            }
        }
        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

.getMacApp {
    background: white;
    padding-left: 17px;
    margin-right: 30px;
    color: #2e2e2e;
    &:hover {
        background: #d1d3d4;
    }
}

.getWinApp {
    background: $winBlue;
    cursor: default;
    &:hover {
        background: $winBlueHover;
    }
}

.social {
    float: right;
    .fb_iframe_widget {
        vertical-align: top;
        margin-right: 20px;
    }
    .twitter-share-button {
        width: 80px !important;
    }
    iframe:first-child {
        margin-right: 7px;
    }
}
.bgMove {
    position : absolute;
    height : 300%;
    z-index: -1;
    width: 100%;
}

#twitter-widget-2 {
    margin-right : 7px;
}

header {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background: lightgrey;
    color: white;
    background : transparent;
    overflow : hidden;
    .bgMove {
        background: url('../images/bg.jpg') top center repeat black;
        animation: bgMove 40s linear infinite;
    }
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 10%;
        height: 100%;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .container {
        .description {
            position: relative;
            top: 33%;
            max-width: 465px;
            h1 {
                margin: 0;
                font-weight: 400;
            }
            p {
                margin: 30px 0;
            }
            strong {
                display: inline-block;
                margin-top: 10px;
                font-size: 0.8rem;
                font-weight: 200;
            }
        }
        .getMacApp {
            padding-left: 17px;
            margin-right: 30px;
        }
        #appScreen {
            position: absolute;
            top: 50%;
            max-width : 365px;
            transform: translateY(-50%);
            right: 0;
            z-index: 1;
        }
    }
    #scrollIcon {
        position: absolute;
        bottom: 5%;
        left: 50%;
        text-align: center;
        color: #EEE;
        font-size: 2rem;
        margin-left: -10px;
        z-index: 99;
        cursor: pointer;
        width: 20px;
        animation : arrow 2s ease infinite;
        transition: all 0.4s ease;
        &:hover {
            opacity: 0.7;
        }
    }
}

#getTheApp {
    background: #1e2123;
    padding: 80px 5%;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -290px;
        left: 0%;
        width: 130%;
        height: 870px;
        transform: rotate(20deg);
        z-index: 1;
        background: url('../images/patternBg.png') center repeat;
        animation: bgSectionMove 18s linear infinite;
        opacity: 0.5;
    }
    .downloadBtn {
        position: relative;
        z-index: 1000;
        text-align: left;
    }
    p {
        font-size: 0.85rem;
        margin: 0;
        color: white;
    }
}

#features {
    padding: 90px 0;
    &::after {
        content: '';
        clear: both;
        display: table;
    }
    .feature {
        width: 33.3333333%;
        float: left;
        box-sizing: border-box;
        padding: 0 3%;
        text-align: center;
        color: #555;
        .circle {
            height: 100px;
            width: 100px;
            background: $orange;
            border-radius: 100%;
            margin: auto;
            overflow: hidden;
            img {
                margin: auto;
                width: 50%;
                display: block;
                position: relative;
                transform: translateY(150px);
                opacity: 0;
            }
            &.visible {
                img {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            #hand-icon {
                top: 22px;
                transition: all 0.5s ease, opacity 0.5s ease 0.2s;
            }
            #earth-icon {
                top: 20px;
                width: 60%;
                transition: all 0.5s ease 0.4s, opacity 0.5s ease 0.5s;
            }
            #rocket-icon {
                top: 12px;
                transition: all 0.5s ease 0.6s, opacity 0.5s ease 0.7s;
            }
        }
        h2 {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1.1rem;
            margin: 20px 0 10px 0;
            letter-spacing: 0.05rem;
        }
        p {
            margin: 0 auto;
        }
    }
}

#apiStats {
    background: #f8f8f8;
    padding: 80px 0px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
    .left {
        float: left;
        width: 40%;
        opacity: 0;
        img {
            width: 100%;
            display: block;
            margin: auto;
        }
    }
    .right {
        float: right;
        width: 50%;
        margin-left: 5%;
        margin-top: 2%;
        #stats {
            padding: 0;
            list-style: none;
            text-align: center;
            margin-top: 40px;
            &::after {
                content: '';
                clear: both;
            }
            li {
                span {
                    display: block;
                    color: #333;
                    font-weight: normal;
                    font-size: 2.3rem;
                    margin-bottom: 5px;
                }
                text-transform: uppercase;
                display: block;
                float: left;
                position: relative;
                padding: 0 29px;
                box-sizing: border-box;
                font-size: 0.9rem;
                color: $orange;
                font-weight: 400;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 20px;
                    height: 30px;
                    width: 1px;
                    background-color: #d7d7d7;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child::after {
                    display: none;
                }
            }
        }
    }
}

#joinTheLeague {
    padding: 80px 0px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
    .left {
        float: left;
        width: 50%;
        margin-left: 5%;
        padding-top: 4%;
        a {
            color: $orange;
            text-decoration: none;
            padding-bottom: 2px;
            transition: all 0.2s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .right {
        float: left;
        width: 45%;
        svg {
            margin: auto;
            display: block;
            width: 70%;
            #gitHubSVGGroup {
                animation: none!important;
            }
        }
    }
}

footer {
    padding: 23px 0;
    &::after {
        content: '';
        clear: both;
        display: table;
    }
    #logoLight {
        position: relative;
        float: left;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.4s ease;
        i {
            display: inline-block;
            width: 24px;
            height: 40px;
            background: url('../images/logoLight.png') left no-repeat;
            background-size: cover;
            margin-right: 15px;
        }
        span {
            display: inline-block;
            vertical-align: top;
            padding: 12px 0;
            color: white;
            font-weight: 200;
            font-family: $font;
            margin: 0;
            font-size: 1rem;
            color: $lightGrey;
            transition: all 0.2s ease;
        }
        &:hover {
            span {
                color: #1E2123;
            }
        }
    }
    .credits {
        float: left;
        color: $lightGrey;
        font-size: 0.6rem;
        margin-top: 15px;
        margin-left: 35px;
        a {
            text-decoration: none;
            color: #999;
            border-bottom: 1px solid $lightGrey;
            transition: all 0.3s ease;
            &:hover {
                color: #1E2123;
            }
        }
    }
    .social {
        margin-top: 12px;
    }
}
