body,html {
	position: relative;
	width: 100%;
	height: 100%;
}

* {
	outline : none;
}

header {
	display : block;
	position: relative;
	width: 100%;
	height : 85vh;
	background : black;
	color : white;
	.description {
		position : relative;
		left : 5%;
		top : 40%;
		width : 40%;

		h1 {
			margin : 0;
		}
		p {

		}
	}
}