$font : 'Montserrat', helvetica, arial, sans-serif;
$orange : #d2534d;
$orangeHover : #af433e;
$macBlue : #364f9d;
$winBlue : #00bcf2;
$macBlueHover : #2a3d7d;
$winBlueHover : #2b94b7;
$lightGrey : #c8c8c8;